<%-include('partials/header', {back : 'true', header:"Promoções da Loja", title: 'Promoções da Loja' , description: 'Confira seu nossas Promoções.'})-%>
    <%- include('partials/menu_product') -%>

        <div class="page-content-wrapper">
            <!-- Top Products-->
            <div class="top-products-area py-3">
                <div class="container">
                    <div class="section-heading d-flex align-items-center justify-content-between">
                        <h6 class="ml-1">
                            Produtos em Destaque
                        </h6>
                        <!-- Layout Options-->

                    </div>
                    <div class="row g-3">

                        <%if(products.length >0){%>

                            <%- include('partials/search') -%>

                                <% products.forEach((product, index) => { %>

                                    <div class="col-6 col-md-4 col-lg-3">
                                        <div class="card top-product-card">
                                            <div class="card-body">
                                                     <a class="product-thumbnail d-block" href="/<%=store.cod%>/product/<%=product.product_id%>"><img class="mb-2 lazy"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                    data-src="<%= ((product.media.length > 0) ? `/media/${store.folder}/${product.media[0].name}` : '/media/no-pic.jpg')%>"
                                    alt></a>
                                                    <a class="product-title d-block" href="/<%=store.cod%>/product/<%=product.product_id%>">
                                                        <%=product.name%>
                                                    </a>
                                                    <%-((product.featured == 1) ? `<span class="badge badge-success">Destaque</span>`:``)  %>
                                           
                                                    <%-((product.discount > 0) ? `<p class="sale-price"><span>R$${product.price}</span><br>R$${(product.price-product.discount)}</p>` : `<p class="sale-price">R$${product.price}</p>` )%>
                                                        <div class="product-rating"><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i></div>

                                            </div>
                                        </div>
                                    </div>

                                    <% }) %>
                                        <%}else{%>
                                            <div class="col-md-12">
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    Ainda não temos produtos cadastrados nesta categoria.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                                                </div>
                                            </div>
                                            <%}%>


                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer')-%>